<ion-view title="Home" hide-back-button="true" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#225DF0;font-weight:600;text-align:center;" class="box-shadow">EDSIGCON</h1>
    <hr>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <h2 id="home-heading6" style="color:#AD1D1D;text-align:center;">Austin, Texas</h2>
    <h4 id="home-heading7" style="color:#000000;text-align:center;">November 5-8, 2017</h4>
    <div id="home-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Hilton Garden Inn</strong>
        <br>Downtown/Convention Center</p>
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <a ui-sref="mapAndHotelInformation" id="home-button12" style="border-radius:0px 0px 0px 0px;" class="button button-dark  button-block">More Info</a>
    <div>
      <br>
      <br>
      <br>
      <hr>
    </div>
    <div id="home-button-bar2" class="button-bar">
      <a ui-sref="events" id="home-button20" class="button button-dark  button-block button-outline">Events</a>
      <a ui-sref="saved" id="home-button21" class="button button-dark  button-block button-outline">Your Events</a>
    </div>
    <div id="home-button-bar3" class="button-bar">
      <a ui-sref="messages" id="home-button23" class="button button-dark  button-block button-outline">Message Board</a>
      <a ui-sref="lostAndFound" id="home-button24" class="button button-dark  button-block button-outline">Lost &amp; Found</a>
    </div>
    <a ui-sref="tabsController.survey" id="home-button26" class="button button-dark  button-block button-outline">Share Your Opinion</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>